#images{
	width: 400px;
	height: 600px;
	position: absolute;
	top: 250px;
	bottom: 0;
	left: 0;
	right: 0;
  	
    margin: auto;
    background-size: contain;
    background-repeat:no-repeat;

    transition: all 0.1s ease-out;
  
}

.teammate{
    background-image: url('./teammate.png')
}

.careworker{
    background-image: url('./careworker.png')
}

.confidant{
    background-image: url('./confidant.png')
}
